#tabbar{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #B8B6B6;
    border-style: solid;
    width: 100%;
    height: 60px;
    background-color: #B8B6B6;
    

}
#frist{
    margin-right: 20px;
}
#inputtop{
    margin-top: 20%;
    width: 19%;
}
#left{
    border-color: #B8B6B6;
    border-style: solid;
    text-align: center;
}
#right{
    border-color: #B8B6B6;
    border-style: solid;
}
#pic{
    border-color: #B8B6B6;
    border-style: solid;
    width: 50%;
    margin-left: 50%;
}
#center{
    border-color: #B8B6B6;
    border-style: solid;
}