#mainpagePayment{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr) 20px;
    gap: 10px;
    max-width: 100vw;
    max-height: 100vh;
  }
  #carpicturesPayment{
      grid-column: 1/3;
      grid-row: 1;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      margin-left: 50px;
      margin-top: 20px;
      
  }
  #textboxPayment{
      grid-column: 3/5;
      grid-row: 1;
      border-radius: 20px;
      border-style:solid   ;
      border-width: 1px ;
      border-right-style: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 100px;
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
  
  }
  
  #locationPayment{
    border-radius: 20px;
    background-color:#8b8b8b;
    border-style:solid   ;
    border-width: 1px ;
    align-items: center;
    justify-content: center;
    border-color: rgb(116, 116, 116);
    color: #e6e0e0;
    grid-column: 1/3;
    grid-row: 2;
    width: 143%;
    min-height: 49px;
    margin-top: 97px;
    margin-left: 50px;
    padding: 5px ;
    font-size: 20px;
  }
  #startPayment{
      grid-column: 3/4;
      grid-row: 2;
      margin-top: 100px;
      margin-left: 20px;
      border-radius: 20px;
  }
  #textstartPayment{
      margin-top: 70px;
      margin-left: 30px;
      grid-column: 3/4;
      grid-row: 2;
  }
  #endPayment{
      grid-column: 4/5;
      grid-row: 2;
      margin-top: 100px;
      margin-right: 50px;
      margin-left: 20px;
      border-radius: 20px;
  }
  #textendPayment{
      margin-top: 70px;
      margin-right: 50px;
      margin-left: 30px;
      grid-column: 4/5;
      grid-row: 2;
  }
  #imgscan{
    grid-row: 3;
    grid-column: 1/5;
    width: 500px;
    height: 500px;
    justify-self: center;
    margin-top: 50px;
  }
  #pricepaymentss{
    grid-row: 4;
    grid-column: 1/3;
    margin-left: 50px;
  }
  #allprice{
    border-style: solid;
    border-radius: 20px;
    border-style:solid   ;
    border-width: 1px ;
    margin-left: 10px;
    padding: 10px;
  }
  #BookingPayment{
      background-color: #F46868;
      grid-column: 2/4;
      grid-row: 5;
      height: 50px;
      justify-self: center;
      width: 50%;
      margin-top: 70px;
      border-radius: 20px;
      margin-bottom: 20px;
  }
  #spacePayment{
      grid-row: 6;
  }
  #pricePayment{
      grid-column: 1/3;
      grid-row: 1;
      font-size: 100px;
  }
  #pricePayments{
    grid-column: 1/3;
    grid-row: 1;
    font-size: 70px;
  }
  #receivePayment{
    grid-column: 1/2;
    grid-row: 2;
    font-size: 30px;
}
#receivePayments{
    grid-column: 2/3;
    grid-row: 2;
    font-size: 30px;
}
#returnPayment{
    grid-column: 1/2;
    grid-row: 3;
    font-size: 30px;
}
#returnlocation{
    grid-column: 2/3;
    grid-row: 3;
    font-size: 30px;
}
#dateboxPayment{
    grid-column: 3/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    max-height: 50px;
    margin-top: 100px;
}
#start{
    grid-column: 1/2;
    grid-row: 2;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    padding: 3px;
    
}
#textstart{
    grid-column: 1/2;
    grid-row: 1;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    padding: 3px;
}
#end{
    grid-column: 2/3;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color:#F46868;
    border-bottom-right-radius: 20px;
    padding: 3px;
}
#textend{
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-color:#F46868;
    border-top-right-radius: 20px;
    padding: 3px;
}