#mainpage{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr) 20px;
  gap: 10px;
  max-width: 100vw;
  max-height: 100vh;
}
#carpictures{
    grid-column: 1/3;
    grid-row: 1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
    
}
#textbox{
    grid-column: 3/5;
    grid-row: 1;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-style:solid   ;
    border-width: 1px ;
    border-color: rgb(116, 116, 116);

}
#detail{
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    grid-column: 1/5;
    grid-row: 2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    min-height: 300px;
    padding: 10px;
    border-style:solid   ;
    border-width: 1px ;
    border-color: rgb(116, 116, 116);
}
#logo{
    grid-column: 1/3;
    grid-row: 3;
    height: 100px;
    width: 60px;
    margin-top: 10px;
    margin-left: 50px;
}
#location{
    border-radius: 20px;
    grid-column: 1/4;
    grid-row: 4;
    min-height: 48px;
    margin-top: 98px;
    margin-left: 50px;
    padding: 5px ;
    font-size: 20px;
    color: aliceblue;
    background-color:#8b8b8b;
    border-style:solid   ;
    border-width: 1px ;
    border-color: rgb(116, 116, 116);
}
#Booking{
    background-color: #F46868;
    grid-column: 4/5;
    grid-row: 5;
    min-height: 40px;
    justify-self: center;
    margin-top: 5%;
    width: 70%;
    border-radius: 20px;
    margin-bottom: 20px;
}
#space{
    grid-row: 6;
}
#price{
    grid-column: 1/3;
    grid-row: 1;
    font-size: 100px;
}
#receive{
    grid-column: 1/2;
    grid-row: 2;
    font-size: 30px;
}
#return{
    grid-column: 1/2;
    grid-row: 3;
    font-size: 30px;
}
#locationselectcar{
    grid-column: 2/3;
    grid-row: 3;
    font-size: 30px;
    
    border-radius: 20px;
}
#receivelocation{
    grid-column: 2/3;
    grid-row: 2;
    font-size: 30px;
}
#datebox{
    grid-column: 3/4;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    max-height: 50px;
    margin-top: 100px;
    
}
#start{
    grid-column: 1/2;
    grid-row: 2;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    padding: 3px;
    
}
#textstart{
    grid-column: 1/2;
    grid-row: 1;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    padding: 3px;
}
#end{
    grid-column: 2/3;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color:#F46868;
    border-bottom-right-radius: 20px;
    padding: 3px;
}
#textend{
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
    height: 50%;
    
    border-top-right-radius: 20px;
    padding: 3px;
}